.cart{
    width: 400px;
    height: 550px;
    background-color: beige;
    margin: 40px;
    border-radius: 10px;
    border: solid black;
    transition: box-shadow 0.3s ease-in-out;
   
}
.cart:hover{
    box-shadow:5px 5px rgba(61, 57, 57, 0.8);
}
.cart:hover img{
    transform: scale(1.3);  

}
.foto{
    overflow: hidden;
}
img{border-radius: 8px;
    width: 100%;
    height: auto;
    position: relative;
    transition: 0.4s ease;
}

h1 ,p{
    margin: 20px;
}
button{
    color: white;
    background-color: rgb(97, 102, 102);
    margin: 20px;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    font-weight: bold;
    font-size: 17px;
}